/* CSS! */

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: helvetica;
}

h1 {
  margin: 100px 0;
}

img {
  width: 500px;
  height: auto;
}

.background-image-01 {
  height: 500px;
  width: 300px;
  background: transparent url('img/01.jpg') no-repeat center center;
  background-size: cover;
}

.background-image-02 {
  height: 300px;
  width: 500px;
  background: transparent url('img/02.jpg') no-repeat center center;
  background-size: cover;
}

.background-image-03 {
  height: 500px;
  width: 500px;
  background: transparent url('img/02.jpg') no-repeat center center;
  background-size: cover;
}

.img-portrait::before {
 content: "portrait";
 background-color: black;
 color: white;
 padding: 5px;
}

.img-landscape::before {
 content: "landscape";
 background-color: black;
 color: white;
 padding: 5px;
}

.img-square::before {
 content: "square";
 background-color: black;
 color: white;
 padding: 5px;
}
